

/* this is how the link will look in general */
#linkedin-link {
    color: lightblue;
    text-decoration: none;
}

/* Changing the color of the link from light blue to light green when I hover my mouse over it */
#linkedin-link:hover {
    color: lightgreen;
    text-decoration: underline;
}

/* Making a dashed box where I will list some info */
.box {
    border: 3px dashed pink;
    padding: 10px;
    margin-bottom: 10px;
    background-color: magenta;
}