

/* this is how the link will look in general */
#linkedin-link {
    color: lightblue;
    text-decoration: none;
}

/* Changing the color of the link from light blue to light green when I hover my mouse over it */
#linkedin-link:hover {
    color: lightgreen;
    text-decoration: underline;
}

/* Making a dashed box where I will list some info */
.box {
    border: 3px dashed pink;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: magenta;
}


/* Going to apply this style to the  <h2> tags */
h2 {
    color: yellow;
    font-size: 20px;
    text-align: left;
}


/* Going to insert a image of a chessboard under my hobbies to give a visual for it */
#chess-image {
    display: block;
    margin: 10px;
    position: relative;
    max-width: 200px;
    width: 50%;
}